.column-order-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  max-width: 200px;
  max-height: 80px;
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 0 4px 14px 0 rgba(3, 24, 49, 0.1);
  transition: background 0.5s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.inactive {
  background: #fff;
  color: #696969;
  transition: all 0.5s ease;
}

.active {
  background-image: linear-gradient(#0dccea, #0d70ea);
  color: white;
  transition: all 0.5s ease;
}
